   body {
       margin: 0;
   }

   .navbar_mint {
       position: static;
       background-color: rgba(0, 0, 0, 1);
       width: 100%;
       height: 80px;
       z-index: 990;
       top: 0;
       box-shadow: 0 1px 3px rgb(0 0 0 / 0%);
       transition: background-color 300ms linear;
   }

   .maincontainer {
       width: 100%;
       height: 80px;
       display: table;
       position: relative;
       margin: 0;
   }

   .leftwrapper {
       display: table-cell;
       vertical-align: middle;
       padding-left: 40px;
       box-sizing: content-box;
   }

   .rightwrapper {
       display: table-cell;
       vertical-align: middle;
       padding-right: 40px;
       width: 100%;
       text-align: right;
   }

   .logo_title {
       display: inline-block;
       font-size: 24px;
       font-weight: 400;
       white-space: nowrap;
       padding-right: 30px;
       color: #ffffff;
       font-family: "Ubuntu", Arial, sans-serif;
   }

   .navlist {
       list-style-type: none;
       margin: 0;
       padding: 0 !important;
   }

   .navlist_a {
       text-align: left;
       list-style-type: none;
       margin: 0;
       padding: 0 !important;
   }

   .navlist_iteam {
       clear: both;
       font-family: "Ubuntu", Arial, sans-serif;
       font-size: 16px;
       display: inline-block;
       margin: 0;
       color: #000;
       white-space: nowrap;
   }

   .navlist_iteamall {
       color: #ffffff;
       font-weight: 600;
       text-decoration: none;
   }

   .navlist_iteamall_adaptive {
       color: #ffffff;
       font-weight: 600;
       font-size: 22px;
       text-decoration: none;
       width: 100%;
       display: block;
       position: static;
       background-color: rgba(0, 0, 0, 1);
       width: 100%;
       padding-left: 40px;
       padding-top: 23px;
       padding-bottom: 23px;
       z-index: 990;
       top: 0;
       box-shadow: 0 1px 3px rgb(0 0 0 / 0%);
       transition: background-color 300ms linear;
   }

   .icon {
       display: none;
   }

   .adaptive {
       display: none;
   }

   .b1 {
       width: 28px;
       height: 4px;
       background-color: white;
       margin: 4px 0;
   }

   @media screen and (max-width: 980px) {
       .navlist {
           display: none;
       }

       .icon {
           float: right;
           display: block;
       }
   }

   @media screen and (max-width: 980px) {
       .adaptive.responsive {
           display: block;
       }
   }